@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Roboto+Mono:ital,wght@1,500&family=Roboto:wght@500&display=swap');
#i1 {
    /* Initial state */
    width: 48px;
          height: 48px;
          font-size: 22px;
    transition: transform 0.5s; /* Transition property and duration */
  }
.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.all{

    @media (max-width: 767px)
        .inputs {
          width: 48px;
          height: 48px;
          font-size: 22px;
      }
}
.h1{
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}